<p>Olá, <strong style="color: #7159c1;">{{ deliveryman }}</strong>!</p>
<p>Temos uma nova entrega para você realizar.<br />
O produto <strong style="color: #7159c1; text-transform: capitalize;">{{ product }}</strong> já está disponível para ser retirado.</p>
<p>
  <strong style="color: #7159c1;">Local: </strong>Rua {{ street }}, {{ number }}. {{ city }}, {{ state }}.
</p>
